@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html, body, #root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: black; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  margin-left: 1rem;
  display: inline; }

.App-header {
  padding: 20px;
  color: #9244C2;
  background: #eee;
  height: 7%;
  display: flex;
  align-items: center;
  height: 10%; }

a {
  text-decoration: none;
  color: #9244C2; }

.App-intro {
  font-size: large; }

.button {
  background: none;
  color: inherit;
  border: 2px solid #9244C2;
  border-radius: 10px;
  padding: 0.5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 20px; }

.button:hover {
  background: #eee; }

.button:active {
  background: #9244C2; }

.App-link {
  font-size: 25px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 200px;
  cursor: pointer;
  background: #eee; }

.App-link:hover {
  background: #d3d3d3; }

.App-link:active {
  font-size: 22px; }

p {
  font-size: 30px; }

header {
  display: flex;
  justify-content: space-between; }

.menu-item {
  list-style-type: none;
  margin-right: 1rem;
  display: inline; }

.menu-item a:hover {
  background: #fff; }

.logo-link {
  margin-right: 3rem;
  color: #9244C2; }

.App-welcome {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  color: #9244C2;
  background: #eee; }

.counter {
  min-height: 9rem; }

.App-welcome img {
  margin-right: 3rem; }

.toggle {
  width: 100%;
  padding: 10px 20px;
  width: 50px;
  display: none; }

.menu-items-list {
  display: flex; }

@media (max-width: 768px) {
  .toggle {
    display: block; }
  .menu-items-list {
    width: 100%;
    background: #c28b44;
    flex-direction: column; }
  .menu-item {
    text-align: left;
    display: none; }
  .logo-link {
    display: none; } }

.active {
  display: block; }

.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #ff5353;
  outline: none; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.submitbutton {
  background: none;
  color: inherit;
  border: 2px solid #9244C2;
  border-radius: 10px;
  padding: 0.5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 20px; }

.submitbutton:active {
  transform: scale(0.98, 0.98); }

.submitbutton.false {
  display: none; }

.inputfield {
  display: block;
  width: 300px;
  outline: none !important;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #9244C2;
  text-align: center;
  font-size: 1rem;
  transition: background-color 5000s ease-in-out 0s; }

.form {
  display: flex;
  align-items: center;
  flex-direction: column; }

form > p {
  font-size: 1rem; }

.invalid {
  border: 2px solid #red; }

.users li {
  list-style-type: none;
  font-size: 1rem; }

.header-counter {
  font-size: 1rem; }

.form {
  margin-top: 3rem; }
  .form * {
    margin-top: 1rem; }

.currency-list {
  list-style-type: none; }

.footnote {
  font-size: 1rem; }

.currency-dropdown {
  outline: none !important;
  height: 30px;
  border: 2px solid #9244C2;
  text-align: center;
  font-size: 1rem; }

.maincontainer {
  display: flex;
  justify-content: space-between;
  min-height: 85%; }

.sidebar {
  background: #b3c244;
  margin: 0;
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem; }

.active {
  width: 20rem;
  -webkit-transition: width 300ms ease-out;
  -moz-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  transition: width 300ms ease-out; }

.inactive {
  width: 4rem;
  -webkit-transition: width 300ms ease-in;
  -moz-transition: width 300ms ease-in;
  -o-transition: width 300ms ease-in;
  transition: width 300ms ease-in; }

.sidebar-button {
  background: none;
  color: #9244C2;
  border: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0; }
